{% if not hide_block %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes.setAttribute('id','dcf-footer-group-1-heading')}}>
        {{ label }}
      </h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endif %}
