{#
/**
 * @file
 * Default theme implementation for a DCF four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
{% set section_attributes = settings.section_attributes %}
{% set title_attributes = settings.title_attributes %}

  {% if section_attributes %}
    <div{{ section_attributes }}>
    {% if settings.title and section_attributes.hasClass('dcf-inverse') %}
      {% set title_attributes = title_attributes.addClass('dcf-inverse') %}
    {% endif %}
  {% endif %}

    {% if settings.title %}
      <h2{{ title_attributes }}>{{ settings.title }}</h2>
    {% endif %}

    <div{{ attributes }}>

      {% if content.first %}
        <div {{ region_attributes.first.addClass('dcf-col', 'layout__region', 'layout__region--first') }}>
          {{ content.first }}
        </div>
      {% endif %}

      {% if content.second %}
        <div {{ region_attributes.second.addClass('dcf-col', 'layout__region', 'layout__region--second') }}>
          {{ content.second }}
        </div>
      {% endif %}

      {% if content.third %}
        <div {{ region_attributes.third.addClass('dcf-col', 'layout__region', 'layout__region--third') }}>
          {{ content.third }}
        </div>
      {% endif %}

      {% if content.fourth %}
        <div {{ region_attributes.fourth.addClass('dcf-col', 'layout__region', 'layout__region--fourth') }}>
          {{ content.fourth }}
        </div>
      {% endif %}

    </div>

  {% if section_attributes %}
    </div>
  {% endif %}
{% endif %}
