{% set classes = ['node', 'node--type-' ~ (node.bundle|clean_class), node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not node.isPublished() ? 'node--unpublished', view_mode ? 'node--view-mode-' ~ (view_mode|clean_class), 'clearfix', 'dcf-mb-0', 'dcf-card-as-link', 'unlcms-img-zoom-hover'] %}
{% set unlcms_centered_teaser_person_classes = ['dcf-d-grid', 'dcf-col-gap-5', 'dcf-row-gap-2', 'unlcms-teaser-person'] %}

{{ attach_library('unl_five_herbie/person') }}

<li  {{attributes.addClass(classes).remove('role')}}  itemscope itemtype="https://schema.org/Person">
  <div {{ content_attributes.addClass(unlcms_centered_teaser_person_classes)}}>
    <!-- Image -->
    <div class="unlcms-teaser-person-img dcf-flex-shrink-0">
      <div class="unlcms-person-img dcf-ratio dcf-ratio-1x1 dcf-circle unl-bg-light-gray dcf-circle">
        {% if node.n_person_photo.value %}
          {{ content.n_person_photo }}
        {% elseif node.n_person_unldirectoryreference.entity.ee_unldir_imageurl.value %}
          {% set alt = 'Avatar for ' ~ node.label %}
          <img class="dcf-ratio-child dcf-obj-fit-cover" itemprop="image" src="{{node.n_person_unldirectoryreference.entity.ee_unldir_imageurl.value}}?s=original" alt="{{ alt }}"/>
        {% else %}
          <div class="dcf-ratio-child dcf-d-flex dcf-ai-center dcf-jc-center unl-gray">
            <svg class="dcf-h-7 dcf-w-7 dcf-circle dcf-fill-current" aria-hidden="true" focusable="false" height="16" width="16" viewbox="0 0 48 48">
              <path d="M47.9 24C47.9 10.8 37.2.1 24 .1S.1 10.8.1 24c0 6.3 2.5 12.3 6.9 16.8 4.5 4.6 10.6 7.1 17 7.1s12.5-2.5 17-7.1c4.5-4.5 6.9-10.5 6.9-16.8zm-45 0C2.9 12.4 12.4 2.9 24 2.9c11.6 0 21.1 9.5 21.1 21.1 0 5.2-1.9 10.1-5.3 14-2.1-1.2-5-2.2-8.2-3.4-.7-.3-1.5-.5-2.2-.8v-3.1c1.1-.7 2.6-2.4 2.9-5.7.8-.6 1.2-1.6 1.2-2.9 0-1.1-.4-2.1-1-2.7.5-1.6 1.3-4.2.7-6.5-.7-3-4.6-4-7.7-4-2.7 0-5.9.8-7.2 2.8-1.2 0-2 .5-2.4 1-1.6 1.7-.8 4.8-.3 6.6-.6.6-1 1.6-1 2.7 0 1.3.5 2.3 1.2 2.9.3 3.4 1.8 5 2.9 5.7v3.1c-.7.2-1.4.5-2 .7-3.1 1.1-6.2 2.2-8.4 3.5-3.5-3.7-5.4-8.7-5.4-13.9zm7.5 16.1c2-1 4.6-2 7.2-2.9 1-.4 2-.7 3-1.1.5-.2.9-.7.9-1.3v-4.9c0-.6-.4-1.1-.9-1.3-.1 0-2-.8-2-4.5 0-.7-.5-1.2-1.1-1.4-.1-.3-.1-.9 0-1.2.6-.1 1.1-.7 1.1-1.4 0-.3-.1-.6-.2-1.2-.9-3.2-.7-4-.4-4.3.1-.1.4-.1 1 0 .7.1 1.5-.3 1.6-1 .3-1 2.5-1.9 5-1.9s4.7.8 5 1.9c.4 1.7-.4 4.1-.7 5.2-.2.6-.3.9-.3 1.3 0 .7.5 1.2 1.1 1.4.1.3.1.9 0 1.2-.6.1-1.1.7-1.1 1.4 0 3.7-1.9 4.5-2 4.5-.6.2-1 .7-1 1.3v4.9c0 .6.4 1.1.9 1.3 1.1.4 2.1.8 3.2 1.2 2.7 1 5.2 1.9 7.1 2.8-3.8 3.3-8.6 5-13.7 5-5.2 0-9.9-1.8-13.7-5z"></path>
            </svg>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="unlcms-centered-teaser-person-text dcf-as-center">
      <!-- Headline -->
      {{ title_prefix }}
      <div class="dcf-lh-2 dcf-mb-1">
        <a href="{{ url }}" class="dcf-txt-h4 dcf-bold dcf-card-link dcf-txt-decor-hover unl-ls-h" itemprop="name">
          {{ label }}
        </a>
      </div>

      {{ title_suffix }}

      {# Position #}
      <div class="dcf-lh-3 dcf-txt-sm dcf-italic">
        <span itemprop="jobTitle">
          {% if node.n_person_position.value %}
            {{ node.n_person_position.value }}
          {% else %}
            {{ node.n_person_unldirectoryreference.entity.ee_unldir_title.value }}
          {% endif %}
        </span>
        {% if node.n_person_unldirectoryreference.entity.ee_unldir_unlhrprimarydepartment.value or node.n_person_affiliation.value %}
          <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
            <span class="organization-unit dcf-d-block dcf-txt-sm">
              {% if node.n_person_affiliation.value %}
                {% set affiliation = node.n_person_affiliation.value %}
              {% else %}
                {% set affiliation = node.n_person_unldirectoryreference.entity.ee_unldir_unlhrprimarydepartment.value %}
              {% endif %}
              <span itemprop="name"> {{ affiliation }}</span>
            </span>
            <span class="organization-name dcf-d-none" itemprop="parentOrganization" itemscope itemtype="http://schema.org/Organization"> <span itemprop="name"> University of Nebraska-Lincoln </span> </span>
          </span>
        {% endif %}
      </div>

      {# Address #}
      <address class="dcf-mt-4">
        <dl class="dcf-txt-sm dcf-mb-0">
          <dt class="dcf-sr-only">
            Address
          </dt>

          {# Phone #}
          {% if node.n_person_phone.value or node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value %}
            <dt class="dcf-sr-only">
              Phone
            </dt>
            <dd class="dcf-d-flex dcf-col-gap-2 dcf-ai-center">
              <div class="dcf-h-4 dcf-w-4 unl-gray">
                <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                  <path d="M5.001 5h14v14h-14zM5.001 20v1.5A2.501 2.501 0 0 0 7.5 24h9c1.378 0 2.5-1.121 2.5-2.5V20H5.001zM12 22.5a1.001 1.001 0 0 1 0-2 1.001 1.001 0 0 1 0 2zM19 4V2.5C19 1.121 17.878 0 16.5 0h-9a2.501 2.501 0 0 0-2.499 2.5V4H19zM9.5 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z" />
                  <path fill="none" d="M0 0h24v24H0z" />
                </svg>
              </div>
              <span class="type dcf-d-none">
                Work
              </span>

              {# <a class="dcf-txt-decor-hover" href="tel:+14024727211" itemprop="telephone"> #}
              {% if node.n_person_phone.value %}
                {% set filtered_phone_number = preg_replace('/[^0-9]/', '', node.n_person_phone.value) %}
                  <a class="dcf-txt-decor-hover" href="tel:{{filtered_phone_number}}" itemprop="telephone">
                    <span class="dcf-txt-nowrap">{{ node.n_person_phone.value }}</span>
                      {% if (node.n_person_phone.value|slice(0, 7)) == '402-472' %}
                        <small class="on-campus-dialing dcf-txt-xs dcf-txt-nowrap" title="For on-campus dialing only. Off-campus, dial {{ node.n_person_phone.value }}">On-campus
                          {{ node.n_person_phone.value|replace({ '402-472-': '2-' }) }}
                        </small>
                      {% endif %}
                  </a>
              {% else %}
                <a class="dcf-txt-decor-hover" href="tel:{{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({' ':''})  }}" itemprop="telephone">
                  <span class="dcf-txt-nowrap">{{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({ '402472': '402-472-' }) }}</span>
                  {% if (node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|slice(0, 6)) == '402472' %}
                    <small class="on-campus-dialing dcf-txt-xs dcf-txt-nowrap" title="For on-campus dialing only. Off-campus, dial {{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({ '402472': '402-472-' }) }}">On-campus
                      {{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({ '402472': '2-' }) }}
                    </small>
                  {% endif %}
                </a>
              {% endif %}
            </dd>
          {% endif %}

          <!-- Email -->
          {% if node.n_person_email.value or node.n_person_unldirectoryreference.entity.ee_unldir_mail.value %}
            <dt class="dcf-sr-only">
              Email
            </dt>
            <dd class="dcf-d-flex dcf-col-gap-2 dcf-ai-center">
              <div class="dcf-h-4 dcf-w-4 unl-gray">
                <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                  <path d="m12.002 12.36 10.095-8.03A1.99 1.99 0 0 0 21.001 4h-18c-.387 0-.746.115-1.053.307l10.054 8.053z" />
                  <path d="m22.764 5.076-10.468 8.315a.488.488 0 0 1-.594-.001L1.26 5.036c-.16.287-.259.612-.26.964v11c.001 1.103.898 2 2.001 2h17.998c1.103 0 2-.897 2.001-2V6c0-.335-.09-.647-.236-.924z" />
                  <path fill="none" d="M0 0h24v24H0z" />
                </svg>
              </div>

              {% if node.n_person_email.value %}
                <a class="dcf-txt-decor-hover" href="mailto:{{ node.n_person_email.value|lower }}" itemprop="email">
                  <span class="dcf-txt-nowrap">
                    {{ node.n_person_email.value|lower }}
                  </span>
                </a>
              {% else %}
                <a class="dcf-txt-decor-hover" href="mailto:{{ node.n_person_unldirectoryreference.entity.ee_unldir_mail.value|lower }}" itemprop="email">
                  <span class="dcf-txt-nowrap">
                    {{ node.n_person_unldirectoryreference.entity.ee_unldir_mail.value|lower }}
                  </span>
                </a>
              {% endif %}
            </dd>
          {% endif %}



          <!-- Website -->
          {% if node.n_person_website.value %}
            {% for i, value in node.n_person_website %}
              <dt class="dcf-sr-only">
                Website
              </dt>
              <dd class="dcf-d-flex dcf-col-gap-2 dcf-ai-center">
                <div class="dcf-h-4 dcf-w-4 unl-gray">
                  <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                    <path d="m14.474 10.232-.706-.706a4.004 4.004 0 0 0-5.658-.001l-4.597 4.597a4.004 4.004 0 0 0 0 5.657l.707.706a3.97 3.97 0 0 0 2.829 1.173 3.973 3.973 0 0 0 2.827-1.172l2.173-2.171a.999.999 0 1 0-1.414-1.414l-2.173 2.17c-.755.756-2.071.757-2.828 0l-.707-.706a2.004 2.004 0 0 1 0-2.829l4.597-4.596c.756-.756 2.073-.756 2.828 0l.707.707a1.001 1.001 0 0 0 1.415-1.415z" />
                    <path d="m20.486 4.221-.707-.706a3.97 3.97 0 0 0-2.829-1.173 3.977 3.977 0 0 0-2.827 1.172L12.135 5.5a.999.999 0 1 0 1.414 1.414l1.988-1.984c.755-.756 2.071-.757 2.828 0l.707.706c.779.78.779 2.049 0 2.829l-4.597 4.596c-.756.756-2.073.756-2.828 0a.999.999 0 0 0-1.414 0 .999.999 0 0 0-.001 1.414 4.001 4.001 0 0 0 5.657.001l4.597-4.597a4.005 4.005 0 0 0 0-5.658z" />
                    <path fill="none" d="M0 0h24v24H0z" />
                  </svg>
                </div>
                <a class="dcf-txt-decor-hover dcf-url-wrap" href="{{ node.n_person_website.value[i].uri }}" itemprop="url">
                  {{ node.n_person_website.value[i].title }}
                </a>
              </dd>
            {% endfor %}
          {% endif %}
        </dl>
      </address>
    </div>
  </div>
</li>
