{% set classes = ['node', 'node--type-' ~ (node.bundle|clean_class), node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not node.isPublished() ? 'node--unpublished', view_mode ? 'node--view-mode-' ~ (view_mode|clean_class), 'clearfix'] %}

{{ attach_library('unl_five_herbie/person') }}
<article {{ attributes.addClass(classes) }}>
	<div {{ content_attributes }}>
		<div class="dcf-mt-9 dcf-mb-10">
			<div class="dcf-d-flex dcf-jc-center">
				<div class="dcf-flex-grow-1 dcf-w-max-xl dcf-card-as-link dcf-grid dcf-col-gap-vw dcf-row-gap-3 unlcms-img-zoom-hover unlcms-teaser-person" itemscope itemtype="https://schema.org/Person">
					<div class="unlcms-teaser-person-vip-img">
						<div class="dcf-ratio dcf-ratio-1x1 unl-bg-light-gray unl-frame-quad">
							{% set alt = 'Avatar for ' ~ node.label %}
							{% if node.n_person_photo.value %}
								{% set fid = node.n_person_photo.target_id %}
								{{ drupal_image(fid, '1_1_240x240', { alt: alt, itemprop: 'image', class: 'dcf-ratio-child dcf-obj-fit-cover' }) }}
							{% elseif node.n_person_unldirectoryreference.entity.ee_unldir_imageurl.value %}
								<img class="dcf-ratio-child dcf-obj-fit-cover" itemprop="image" src="{{ node.n_person_unldirectoryreference.entity.ee_unldir_imageurl.value }}?s=large" alt="{{ alt }}"/>
							{% else %}
								<div class="dcf-ratio-child dcf-d-flex dcf-ai-center dcf-jc-center unl-gray">
									<svg class="dcf-h-7 dcf-w-7 dcf-circle dcf-fill-current" aria-hidden="true" focusable="false" height="16" width="16" viewbox="0 0 48 48">
										<path d="M47.9 24C47.9 10.8 37.2.1 24 .1S.1 10.8.1 24c0 6.3 2.5 12.3 6.9 16.8 4.5 4.6 10.6 7.1 17 7.1s12.5-2.5 17-7.1c4.5-4.5 6.9-10.5 6.9-16.8zm-45 0C2.9 12.4 12.4 2.9 24 2.9c11.6 0 21.1 9.5 21.1 21.1 0 5.2-1.9 10.1-5.3 14-2.1-1.2-5-2.2-8.2-3.4-.7-.3-1.5-.5-2.2-.8v-3.1c1.1-.7 2.6-2.4 2.9-5.7.8-.6 1.2-1.6 1.2-2.9 0-1.1-.4-2.1-1-2.7.5-1.6 1.3-4.2.7-6.5-.7-3-4.6-4-7.7-4-2.7 0-5.9.8-7.2 2.8-1.2 0-2 .5-2.4 1-1.6 1.7-.8 4.8-.3 6.6-.6.6-1 1.6-1 2.7 0 1.3.5 2.3 1.2 2.9.3 3.4 1.8 5 2.9 5.7v3.1c-.7.2-1.4.5-2 .7-3.1 1.1-6.2 2.2-8.4 3.5-3.5-3.7-5.4-8.7-5.4-13.9zm7.5 16.1c2-1 4.6-2 7.2-2.9 1-.4 2-.7 3-1.1.5-.2.9-.7.9-1.3v-4.9c0-.6-.4-1.1-.9-1.3-.1 0-2-.8-2-4.5 0-.7-.5-1.2-1.1-1.4-.1-.3-.1-.9 0-1.2.6-.1 1.1-.7 1.1-1.4 0-.3-.1-.6-.2-1.2-.9-3.2-.7-4-.4-4.3.1-.1.4-.1 1 0 .7.1 1.5-.3 1.6-1 .3-1 2.5-1.9 5-1.9s4.7.8 5 1.9c.4 1.7-.4 4.1-.7 5.2-.2.6-.3.9-.3 1.3 0 .7.5 1.2 1.1 1.4.1.3.1.9 0 1.2-.6.1-1.1.7-1.1 1.4 0 3.7-1.9 4.5-2 4.5-.6.2-1 .7-1 1.3v4.9c0 .6.4 1.1.9 1.3 1.1.4 2.1.8 3.2 1.2 2.7 1 5.2 1.9 7.1 2.8-3.8 3.3-8.6 5-13.7 5-5.2 0-9.9-1.8-13.7-5z"></path>
									</svg>
								</div>
							{% endif %}
						</div>
					</div>

					<div class="dcf-as-center unlcms-teaser-person-vip-text">
						{{ title_prefix }}
						<div class="dcf-lh-2 dcf-mb-1" {{ title_attributes }}>
							<a href="{{ url }}" class="dcf-txt-h4 dcf-bold dcf-card-link dcf-txt-decor-hover unl-ls-h" itemprop="name">{{ label }}</a>
						</div>
						{{ title_suffix }}
						<div class="dcf-lh-3 dcf-txt-sm dcf-italic" itemprop="jobTitle">
							{% if node.n_person_position.value %}
								{{ content.n_person_position }}
							{% else %}
								{{ node.n_person_unldirectoryreference.entity.ee_unldir_title.value }}
							{% endif %}
						</div>

						{% if node.n_person_bio.value is not empty or node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_bio.value is not iterable %}
							<div class="dcf-mt-4">
								<p>
									{% if node.n_person_bio.value is not empty %}
										{{ content.n_person_bio }}
									{% else %}
										{{ node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_bio.value }}
									{% endif %}
								</p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</article>

