{%
  set classes = [
  'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set n_news_image_credit = content.n_news_image_credit|render %}
{% set n_news_image_cutline = content.n_news_image_cutline|render %}

{{ attach_library('starterkit_theme/node') }}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  <div{{ content_attributes }}>
    {#
      Use <figure> syntax if either the credit or cutline are present;
      otherwise, use <div>'s
    #}
    {% if n_news_image_credit is empty and n_news_image_cutline is empty %}
      <div class="dcf-grid dcf-col-gap-vw dcf-row-gap-5">
        <div class="dcf-col-100% dcf-col-67%-start@md">
          {{ content.n_news_image }}
        </div>
      </div>
    {% else %}
      <figure class="dcf-grid dcf-col-gap-vw dcf-row-gap-5">
        <div class="dcf-col-100% dcf-col-67%-start@md">
          {{ content.n_news_image }}
        </div>
        <figcaption class="dcf-figcaption dcf-col-100% dcf-col-33%-end@md">
          {% if n_news_image_credit is not empty %}
            <div class="dcf-italic dcf-mb-4">{{ content.n_news_image_credit }}</div>
          {% endif %}
          {% if n_news_image_cutline is not empty %}
            <div class="dcf-mb-4">{{ content.n_news_image_cutline }}</div>
          {% endif %}
        </figcaption>
      </figure>
    {% endif %}
    <div class="dcf-mt-7 dcf-w-max-xl">
      {% set createdDate = node.getCreatedTime|date('F j, Y') %}
      <p class="dcf-subhead">{{ createdDate }}</p>
      {{ content.body }}
    </div>
  </div>

</article>

<div class="dcf-bleed dcf-wrapper dcf-pt-8 dcf-pb-8 unl-bg-lighter-gray dcf-mt-10 dcf-mb-10">
  <h2 class="dcf-txt-h6 dcf-regular dcf-uppercase dcf-mb-6">{{ content.news_recent_title }}</h2>
  {{ content.news_recent_block_output }}
</div>
