<div id="node-{{ node.id }}"{{ attributes.addClass('exhibition-listing featured-exhibition') }}>
  <div class="grid-set">
    <div class="bp465-grid-col-one-third bp956-grid-col-full">
      <a href="{{ url }}" class="art-image">{{ content.small_image }}</a>
    </div>
    <div class="bp465-grid-col-two-thirds bp956-grid-col-full">
      {{ title_prefix }}
      <h3{{ title_attributes.addClass('exhibition-heading') }}>
        <a href="{{ url }}">{{ label }}</a>
      </h3>
      {{ title_suffix }}
      {{ content.body }}
    </div>
  </div>
</div>
