{{ attach_library('unl_five_herbie/timeline') }}

{% set verticalListClass = ['dcf-list-bare', 'dcf-relative', 'dcf-mb-0', 'dcf-pt-6', 'dcf-pb-6', 'unlcms-timeline', 'unlcms-timeline-vertical'] %}
{% set horizontalListClass = ['dcf-bleed', 'dcf-list-bare', 'dcf-d-flex', 'dcf-flex-no-wrap', 'dcf-gap-4' ,'dcf-mt-6' ,'dcf-mb-0' ,'dcf-pb-1' ,'dcf-bg-no-repeat', 'dcf-overflow-x-scroll' ,'unlcms-timeline' ,'unlcms-timeline-horizontal'] %}

{% if content.b_timeline_style[0]['#markup'] == 'horizontal' %}
	{% set ol_attributes = create_attribute().addClass(horizontalListClass) %}
{% else %}
	{% set ol_attributes = create_attribute().addClass(verticalListClass) %}
{% endif %}
<div{{ attributes.addClass('unlcms-component-spacer').addClass('unlcms-timeline-component') }}>
	<div class="dcf-bleed dcf-wrapper unlcms-component-spacer unl-bg-light-gray dcf-pt-8 dcf-pb-8">
		{% if content.b_timeline_timeline_heading %}
			{{ title_prefix }}
			<h2>{{content.b_timeline_timeline_heading}}</h2>
			{{ title_suffix }}
		{% endif %}

		<ol role="list" tabindex="0"{{ ol_attributes }}>
			{% block content %}
				{{ content.b_timeline_item}}
			{% endblock %}
		</ol>
	</div>
</div>
