{{ attach_library('unl_five_herbie/photo_hero') }}

<div{{ attributes.addClass('dcf-hero unlcms-hero-home') }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}
    <div class="dcf-hero-group-2 unlcms-home-hero-group-2 dcf-d-grid unl-grid-cols dcf-row-gap-4 unl-bg-darkest-gray">
      {{ content.b_photohero_title }}
      {{ content.b_photohero_image }}
      {{ content.b_photohero_links }}
    </div>
  {% endblock %}
</div>
