{{ attach_library('unl_five_herbie/photo_hero') }}

<div{{ attributes }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% block content %}

    <div class="dcf-d-flex dcf-flex-col dcf-ai-center dcf-jc-center dcf-gap-1 dcf-pl-2 dcf-pr-2">
      <!-- if pre-stat text exists -->
      {% if content.b_proofpoint_lead_header %}
      <div class="dcf-w-max-sm dcf-txt-center dcf-bold">{{ content.b_proofpoint_lead_header }}</div>
      {% endif %}

      <div class="dcf-d-flex dcf-flex-nowrap dcf-ai-center dcf-gap-1 dcf-lh-1 unl-ls-h unl-darkest-gray">
        <!-- if prefix exists -->
        {% if content.b_proofpoint_prefix %}
        <span class="dcf-txt-h1 dcf-bold">{{ content.b_proofpoint_prefix }}</span>
        {% endif %}

        <!-- stat number/value -->
        <span class="dcf-txt-2xl dcf-bold">{{ content.b_proofpoint_figure }}</span>

        <!-- if suffix exists -->
        {% if content.b_proofpoint_suffix %}
        <span class="dcf-txt-h1 dcf-bold">{{ content.b_proofpoint_suffix }}</span>
        {% endif %}
      </div>

      {% if content.b_proofpoint_main_header %}
      <!-- if post-stat text exists -->
      <div class="dcf-w-max-sm dcf-txt-center">
        <div class="dcf-bold">{{ content.b_proofpoint_main_header }}</div>

        {% if content.b_proofpoint_supporting_text %}
        <!-- if supporting text exists -->
        <div class="dcf-txt-xs unl-dark-gray">{{ content.b_proofpoint_supporting_text }}</div>
        {% endif %}

      </div>
      {% endif %}
    </div>

  {% endblock %}
</div>
