{{ attach_library('unl_five_herbie/tandem') }}
{{ attach_library('unl_five_herbie/simple_media') }}

<div{{ attributes.addClass('unlcms-component-spacer') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>
      {{ label }}
    </h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% if content.b_simple_media_frame_or_shadow.0['#markup'] == 'shadow' %}
      {% set tandem_image_wrapper = create_attribute() %}
      {% set basic_tadem_image_wrapper = ['dcf-as-center', 'unlcms-tandem-img', 'unlcms-tandem-basic-img'] %}

      {% if content.b_simple_media_shadow_position.0['#markup'] == 'left' %}
        {% set basic_tadem_image_wrapper =  basic_tadem_image_wrapper|merge(['dcf-1st']) %}
      {% else %}
        {% set basic_tadem_image_wrapper = basic_tadem_image_wrapper|merge(['dcf-1st', 'dcf-2nd@md']) %}
      {% endif %}

      {% set animation_style = [ "unl-scroll-fx-fade-in", "unl-scroll-fx-move-left", "unl-scroll-fx-move-right", "unl-scroll-fx-move-up"] %}

      {% for value in animation_style %}
        {% if content.b_simple_media_animation.0['#markup'] == value %}
          {% set basic_tadem_image_wrapper = basic_tadem_image_wrapper|merge([value]) %}
        {% endif %}
      {% endfor %}

      {% set basic_tadem_image_wrapper = basic_tadem_image_wrapper|merge(['dcf-d-grid', 'unlcms-tandem-basic-img-grid']) %}

      <div {{ tandem_image_wrapper.addClass(basic_tadem_image_wrapper) }}>
        {% set shadow_background_wrapper = ['dcf-ratio', 'dcf-ratio-16x9', 'dcf-ratio-1x1@md', 'dcf-ratio-4x3@lg', 'dcf-ratio-16x9@xl', 'dcf-z-0'] %}

        {% set shadow_position_wrapper_attribute = create_attribute() %}
        {% set shadow_background_wrapper_attribute = create_attribute() %}
        {% set shadow_position_wrapper = ['dcf-ratio', 'dcf-ratio-16x9', 'dcf-ratio-1x1@md', 'dcf-ratio-4x3@lg', 'dcf-ratio-16x9@xl', 'dcf-z-1'] %}
        {# set field to required if shadow color is selected in herbie theme. change field name and add radio button. shadow position syule need to be image_  #}

        {% set shadow_style =
              {"shadow_position_wrapper_style": {
                'bottom-right': {'position': 'unlcms-tandem-basic-img-translate-xy-tl', 'wrapper': 'unlcms-tandem-basic-img-translate-xy-br'},
                'bottom-left': {'position': 'unlcms-tandem-basic-img-translate-xy-tr', 'wrapper': 'unlcms-tandem-basic-img-translate-xy-bl'},
                'top-right': {'position': 'unlcms-tandem-basic-img-translate-xy-bl', 'wrapper': 'unlcms-tandem-basic-img-translate-xy-tr'},
                'top-left': {'position': 'unlcms-tandem-basic-img-translate-xy-br', 'wrapper': 'unlcms-tandem-basic-img-translate-xy-tl'},
               },
               "shadow_color_style": {
                'scarlet': 'unl-bg-scarlet',
                'gray':'unl-bg-light-gray',
                'scarlet-dots':'unl-bg-repeat unl-bg-dots-scarlet',
                'gray-dots': 'unl-bg-repeat unl-bg-dots-gray'
               }
            } %}

        {% for key, value in shadow_style['shadow_position_wrapper_style'] %}
          {% if content.b_simple_media_shadow_position.0['#markup'] == key %}
            {% set shadow_position_wrapper = shadow_position_wrapper|merge([value['position']]) %}
            {% set shadow_background_wrapper = shadow_background_wrapper|merge([value['wrapper']]) %}
          {% endif %}
        {% endfor %}

        {% for key, value in shadow_style['shadow_color_style'] %}
          {% if content.b_simple_media_shadow_style.0['#markup'] == key %}
            {% set shadow_background_wrapper = shadow_background_wrapper|merge([value]) %}
          {% endif %}
        {% endfor %}

        <div {{ shadow_position_wrapper_attribute.addClass(shadow_position_wrapper) }}>
          {{ content.b_simple_media_media }}
        </div>

      {% else %}
          {{ content.b_simple_media_media }}
      {% endif %}

      {% if content.b_simple_media_frame_or_shadow.0['#markup'] == 'shadow' %}
        <div {{ shadow_background_wrapper_attribute.addClass(shadow_background_wrapper) }}></div>
      </div>
      {% endif %}

  {% endblock %}
</div>
