{{ attach_library('unl_five_herbie/timeline') }}

<div{{attributes.addClass('dcf-herounlcms-hero-home')}}>
	<div class="dcf-bleed dcf-wrapper dcf-pt-9 dcf-pb-9 unl-bg-light-gray">
		{% if content.b_timeline_timeline_heading %}
			{{ title_prefix }}
			<h2>{{content.b_timeline_timeline_heading}}</h2>
			{{ title_suffix }}
		{% endif %}
		<ol class="dcf-list-bare dcf-relative dcf-mb-0 dcf-pt-6 dcf-pb-6 unlcms-timeline">
			{% block content %}
				{{ content.b_timeline_item}}
			{% endblock %}
		</ol>
	</div>
</div>
