{{ attach_library('unl_five_herbie/news_teaser') }}

<div
  {{attributes.addclass("dcf-pb-4")}}>

  <ol class="dcf-list-bare dcf-grid-halves@sm dcf-grid-fourths@lg dcf-col-gap-vw dcf-row-gap-6 dcf-mb-6 unl-scroll-fx-children-fade-in" data-fx-duration=".4">
    {% for item in items %}

      <li class="dcf-mb-0">
        <article class="dcf-card-as-link unlcms-img-zoom-hover" itemscope itemtype="https://schema.org/NewsArticle">
          <div class="dcf-ratio dcf-ratio-16x9 dcf-mb-2 unl-bg-light-gray unl-frame-quad">
            {{ item.image }}
          </div>

          {% if item.source == 'remote' %}
            <div class="dcf-mb-4 dcf-badge dcf-badge-pill unl-bg-dark-gray">From Nebraska Today</div>
          {% endif %}

          <h3 class="dcf-txt-h6 dcf-mb-0" itemprop="headline">
            <a href="{{ item.link }}" class="dcf-card-link dcf-txt-decor-hover" itemprop="url">
              {{ item.title }}
            </a>
          </h3>

          {% set createdDate = item.created|date('F j, Y') %}
          <div class="dcf-mt-2 dcf-lh-3 dcf-txt-xs unl-dark-gray" itemprop="dateline">
            {{createdDate}}
          </div>
        </article>
      </li>

    {% endfor %}
  </ol>

  <div class="dcf-d-flex dcf-jc-flex-end">
    <a class="dcf-btn dcf-btn-secondary" href="/news">Read More News</a>
  </div>
  </div>
</div>

