{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  'dcf-mt-8'
]
%}


<div{{ attributes.addClass(classes).setAttribute('id', 'news-'~ dom_id) }}>

  {{ title }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}
  {{ exposed }}
  {{ attachment_before }}
  {% if rows -%}
    <h3> News </h3>
    <div class="dcf-grid-halves@sm dcf-grid-fourths@lg dcf-col-gap-vw dcf-row-gap-6 dcf-mb-6 unl-scroll-fx-children-fade-in" data-fx-duration=".4">
      {{ rows }}
    </div>
  {% elseif empty -%}
    {{ empty }}
  {% endif %}
  {{ pager }}

  {{ attachment_after }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
