<div class="grid-set news-teaser">
  <div class="bp591-grid-col-two-thirds">
    <h2><a href="{{ url }}">{{ label }}</a></h2>
    {{ content.body }}
    <a href="{{ url }}" class="more-info-link">Read More<span class="text-hidden">of "{{ label }}"</span></a>
  </div>
  <div class="bp591-grid-col-one-third">
    <a href="{{ url }}" class="news-event-photo">{{ content.n_news_image }}</a>
  </div>
</div>
