<div id="node-{{ node.id }}"{{ attributes.addClass('grid-col') }}>
  <div class="card">
    <div class="card-content">
      <a href="{{ url }}" class="card-image">{{ content.n_news_image }}</a>
      <div class="card-padding">
        <h3 class="card-heading">
          <a href="{{ url }}">{{ label }}</a>
        </h3>
      </div>
    </div>
  </div>
</div>
