<div style="margin-bottom: 1em;">
  <h3><a href="{{ content.event_link }}">{{ label }}</a></h3>
  <span class="event-date icon-calendar-2-1">{{ content.event_date }}</span>
  {#    <span class="event-time icon-clock-3-0">{{render(content.field_event_link)}}</span> #}
  <span class="event-location icon-marker-1-0"><a href="{{ content.event_map_link.0.url }}">{{ content.event_map_link }}</a></span>
</div>
