<div class="partner-hero">
  <div class="partner-feature-lead">{{ content.lead_image }}</div>
  <div class="partner-feature-hero-text">
    <div class="page-padding">
      <div class="partner-feature-hero-overlay">
        <h2>{{ label }}</h2>
        <p>{{ content.headline }}</p>
        <a class="more-info-link" href="{{ url }}">Read more about {{ label }}</a>
      </div>
    </div>
  </div>
</div>
