{{ attach_library('unl_six_herbie/logo_cloud') }}
<div{{ attributes.addClass('unlcms-component-spacer').addClass('unlcms-logocloud-component')}}>
  {{ title_prefix }}
  {{ title_suffix }}
  <ul role="list" class="dcf-d-flex dcf-flex-wrap dcf-jc-center dcf-col-gap-4 dcf-row-gap-4 dcf-mb-0" role="list">
    {% block content %}
      {{ content.b_logo_cloud_item }}
    {% endblock %}
  </ul>
</div>
