<div class="card event-listing">{# events on front page#}
  <h4 class="event-heading">
    <a href="{{ url }}">{{ label }}</a>
  </h4>
  <span class="subhead">
    <span class="event-date">{{ content.event_date }}</span>
  </span>
  {#<p class="event-abbr-teaser">{{ content.body }}</p>#}
  <a href="{{ url }}" class="more-info">More Info</a>
</div>
