<div id="node-{{ node.id }}"{{ attributes.addClass('events event-detail') }}>
  <div class="grid-set">
    <div class="grid-col">
      <h2 class="tab-heading">Events</h2>
    </div>
  </div>
  <div class="grid-set">
    <div class="bp591-grid-col-two-thirds">
      <article class="event-listing">
        <header>
          <h4 class="event-heading">{{ label }}</h4>
          <span class="subhead">
            <span class="event-date">

              {% if node.datetime_timemode.value != 'TBD' %}
                {{ content.event_date_start }}
              {% else %}
                {% set date = node.event_date_start.value %}
                {{ date|date('l, F j, Y') }} - Time To Be Determined
              {% endif %}

              {% if content.event_date_end.0['#markup'] is not null and content.event_date_start.0['#markup'] != content.event_date_end.0['#markup'] %}
                to
                {{ node.event_date_end.date|date('h:iA') }}
              {% endif %}
            </span>
            <span class="event-location">{{ content.event_map_link }}</span>
          </span>
        </header>
        <div{{ content_attributes }}>
          {{ content.body }}
        </div>
      </article>
    </div>
  </div>
</div>
