{#
  Add a node ID class so that node--exhibition--teaser-featured can hide
  duplicate items.
#}
{%
  set classes = [
    'exhibition-listing',
    'featured-exhibition',
    'node-' ~ node.id,
  ]
%}
<div id="node-{{ node.id }}"{{ attributes.addClass(classes) }}>
  <div class="grid-set">
    <div class="bp465-grid-col-one-third bp956-grid-col-full">
      <a href="{{ url }}" class="art-image">{{ content.small_image }}</a>
    </div>
    <div class="bp465-grid-col-two-thirds bp956-grid-col-full">
      {{ title_prefix }}
      <h3{{ title_attributes.addClass('exhibition-heading') }}>
        <a href="{{ url }}">
          {% if is_upcoming and node.ongoing.value != '1' %}
            Upcoming:
          {% endif %}
          {{ label }}
        </a>
      </h3>
      {{ title_suffix }}
      {% if node.ongoing.value != '1' %}
        {{ content.exhibition_date }}
      {% endif %}
      {{ content.subhead }}
      <p class="exhibition-abbr-teaser">
        {{ content.body }}
      </p>
    </div>
  </div>
</div>
