<div id="node-{{ node.id }}"{{ attributes.addClass('exhibition-listing featured-exhibition') }}>
  <div class="grid-set">
    <div class="bp465-grid-col-one-third bp752-grid-col-full">
      <a href="{{ url }}" class="art-image">{{ content.small_image }}</a>
    </div>
    <div class="bp465-grid-col-two-thirds bp752-grid-col-full">
      {{ title_prefix }}
      <h3{{ title_attributes.addClass('exhibition-heading') }}>
        <a href="{{ url }}">
          {% if is_upcoming and node.ongoing.value != '1' %}
            Upcoming:
          {% endif %}
          {{ label }}
        </a>
      </h3>
      {{ title_suffix }}
      {% if node.ongoing.value != '1' %}
        {{ content.exhibition_date }}
      {% endif %}
      {{ content.subhead }}
      {{ content.body }}
    </div>
  </div>
</div>
