<div{{ attributes.addClass('exhibition-detail') }}>
  <div class="grid-set">
    <div class="bp591-grid-col-two-thirds bp956-grid-col-one-half pull-right">
      <h2 class="tab-heading">Exhibition</h2>
    </div>
  </div>
  <div class="grid-set">
    <div class="bp591-grid-col-two-thirds bp956-grid-col-one-half pull-right">
      <h1 class="exhibition-heading">{{ label }}</h1>
      {% if node.ongoing.value != '1' %}
        {{ content.exhibition_date }}
      {% endif %}
    </div>

    <div class="bp591-grid-col-one-third bp956-grid-col-one-half pull-left">
      <div class="sticky detail-image-set" id="exhibition_detail_image_set">
        {{ drupal_view('collection_artwork', 'block', node.id) }}
      </div>
    </div>

    <div class="bp591-grid-col-two-thirds bp956-grid-col-one-half pull-right sticky-reference">
      {{ content.body|render|replace({'[guidebook]': guidebook_embed_html})|raw }}
      {{ content.related_links }}
    </div>
  </div>
</div>
