<div class="card event-listing">{# events on front page#}
  <h4 class="event-heading">
    <a href="{{ url }}">{{ label }}</a>
  </h4>
  <span class="subhead">
    <span class="event-date">

      {% if node.datetime_timemode.value != 'TBD' %}
        {{ content.event_date_start }}
      {% else %}
        {% set date = node.event_date_start.value %}
        {{ date|date('l, F j, Y') }} - Time To Be Determined
      {% endif %}

      {% if content.event_date_end.0['#markup'] is not null and content.event_date_start.0['#markup'] != content.event_date_end.0['#markup'] %}
        to {{ content.event_date_end }}
      {% endif %}
    </span>
  </span>
  {#<p class="event-abbr-teaser">{{ content.body }}</p>#}
  <a href="{{ url }}" class="more-info">More Info</a>
</div>
