{% set classes = ['node', 'node--type-' ~ (node.bundle|clean_class), node.isPromoted() ? 'node--promoted', node.isSticky() ? 'node--sticky', not node.isPublished() ? 'node--unpublished', view_mode ? 'node--view-mode-' ~ (view_mode|clean_class), 'clearfix', 'dcf-mb-8'] %}

{{ attach_library('unl_six_herbie/person') }}

<article {{ attributes.addClass(classes) }}>
  <div {{ content_attributes }}>
      <div class="dcf-main-content dcf-wrapper">
        <div class="dcf-d-flex dcf-jc-center">
          <div
            class="dcf-d-grid dcf-col-gap-vw unlcms-grid-person-detail" itemscope itemtype="https://schema.org/Person">

            <!-- Image -->
            <div class="unlcms-grid-person-detail-img">
              <div class="dcf-sticky dcf-top-0 dcf-pt-5">
                <div class="unlcms-person-img dcf-w-max-sm dcf-1x1 unl-bg-light-gray unl-frame-quad">
                  {% if node.n_person_photo.value %}
                    {{ content.n_person_photo }}
                  {% elseif node.n_person_unldirectoryreference.entity.ee_unldir_imageurl.value %}
                    {% set alt = 'Avatar for ' ~ node.label %}
                    <img class="dcf-obj-fit-cover" itemprop="image" src="{{node.n_person_unldirectoryreference.entity.ee_unldir_imageurl.value}}?s=original" alt="{{ alt }}"/>
                  {% else %}
                    <div class="dcf-d-flex dcf-ai-center dcf-jc-center unl-gray">
                      <svg class="dcf-h-7 dcf-w-7 dcf-circle dcf-fill-current" aria-hidden="true" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                        <path d="M47.9 24C47.9 10.8 37.2.1 24 .1S.1 10.8.1 24c0 6.3 2.5 12.3 6.9 16.8 4.5 4.6 10.6 7.1 17 7.1s12.5-2.5 17-7.1c4.5-4.5 6.9-10.5 6.9-16.8zm-45 0C2.9 12.4 12.4 2.9 24 2.9c11.6 0 21.1 9.5 21.1 21.1 0 5.2-1.9 10.1-5.3 14-2.1-1.2-5-2.2-8.2-3.4-.7-.3-1.5-.5-2.2-.8v-3.1c1.1-.7 2.6-2.4 2.9-5.7.8-.6 1.2-1.6 1.2-2.9 0-1.1-.4-2.1-1-2.7.5-1.6 1.3-4.2.7-6.5-.7-3-4.6-4-7.7-4-2.7 0-5.9.8-7.2 2.8-1.2 0-2 .5-2.4 1-1.6 1.7-.8 4.8-.3 6.6-.6.6-1 1.6-1 2.7 0 1.3.5 2.3 1.2 2.9.3 3.4 1.8 5 2.9 5.7v3.1c-.7.2-1.4.5-2 .7-3.1 1.1-6.2 2.2-8.4 3.5-3.5-3.7-5.4-8.7-5.4-13.9zm7.5 16.1c2-1 4.6-2 7.2-2.9 1-.4 2-.7 3-1.1.5-.2.9-.7.9-1.3v-4.9c0-.6-.4-1.1-.9-1.3-.1 0-2-.8-2-4.5 0-.7-.5-1.2-1.1-1.4-.1-.3-.1-.9 0-1.2.6-.1 1.1-.7 1.1-1.4 0-.3-.1-.6-.2-1.2-.9-3.2-.7-4-.4-4.3.1-.1.4-.1 1 0 .7.1 1.5-.3 1.6-1 .3-1 2.5-1.9 5-1.9s4.7.8 5 1.9c.4 1.7-.4 4.1-.7 5.2-.2.6-.3.9-.3 1.3 0 .7.5 1.2 1.1 1.4.1.3.1.9 0 1.2-.6.1-1.1.7-1.1 1.4 0 3.7-1.9 4.5-2 4.5-.6.2-1 .7-1 1.3v4.9c0 .6.4 1.1.9 1.3 1.1.4 2.1.8 3.2 1.2 2.7 1 5.2 1.9 7.1 2.8-3.8 3.3-8.6 5-13.7 5-5.2 0-9.9-1.8-13.7-5z"></path>
                      </svg>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>


            <div class="unlcms-grid-person-detail-info dcf-as-center">

              <!-- Headline & Position-->
              <div class="unlcms-grid-person-detail-name-title dcf-pt-5">
                {{ title_prefix }}
                <h1 class="dcf-mb-0 unl-lh-crop" itemprop="name" {{ title_attributes }}>
                  <span class="fn" itemprop="name">{{ label }}</span>
                </h1>
                {{ title_suffix }}

                <p class="dcf-lh-3 dcf-mt-2 dcf-italic" itemprop="jobTitle">
                  {% if node.n_person_position.value %}
                    {{node.n_person_position.value}}
                  {% else %}
                    {{ node.n_person_unldirectoryreference.entity.ee_unldir_title.value }}
                  {% endif %}

                  {% if node.n_person_unldirectoryreference.entity.ee_unldir_unlhrprimarydepartment.value or node.n_person_affiliation.value %}
                    <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
                      <span class="organization-unit dcf-d-block dcf-txt-sm">
                        {% if node.n_person_affiliation.value	%}
                          {% set affiliation = node.n_person_affiliation.value %}
                        {% else %}
                          {% set affiliation = node.n_person_unldirectoryreference.entity.ee_unldir_unlhrprimarydepartment.value %}
                        {% endif %}
                        <span itemprop="name">{{affiliation}}</span>
                      </span>
                      <span class="organization-name dcf-d-none" itemprop="parentOrganization" itemscope itemtype="http://schema.org/Organization">
                        <span itemprop="name">University of Nebraska-Lincoln</span>
                      </span>
                    </span>
                  {% endif %}
                </p>
              </div>

              <div class="unlcms-grid-person-detail-contact dcf-pt-5">
                <h2 class="dcf-sr-only">Contact</h2>

                <!-- Address -->
                <address>
                  <dl class="dcf-txt-sm dcf-mb-0">
                    {% if
                    node.n_person_unldirectoryreference.entity.ee_unldir_unldirectoryaddress[0].value
                    is not empty or node.n_person_address is not empty %}

                      <dt class="dcf-sr-only">Address</dt>
                      <dd class="dcf-d-flex dcf-col-gap-2">
                        <div class="dcf-h-4 dcf-w-4 unl-gray dcf-mt-1">
                          <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                            <path d="M12 .006c-4.411 0-8 3.588-8 8 0 4.244 7.273 15.307 7.583 15.775a.501.501 0 0 0 .834 0C12.727 23.313 20 12.25 20 8.006c0-4.411-3.589-8-8-8zm0 11.5c-1.93 0-3.5-1.571-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.571 3.5 3.5-1.57 3.5-3.5 3.5z"/><path fill="none" d="M0 0h24v24H0z"/>
                          </svg>
                        </div>

                        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" translate="no">
                          {% if node.n_person_address.value %}
                            {% for i, value in node.n_person_address %}
                              {% if i == 0 %}
                                <span itemprop="streetAddress">{{ node.n_person_address[i].value }}</span><br/>
                              {% endif %}
                              {% if i == 1 %}
                                <span itemprop="addressLocality">{{ node.n_person_address[i].value }}</span>,
                              {% endif %}
                              {% if i == 2 %}
                                <abbr title="Nebraska" itemprop="addressRegion">{{ node.n_person_address[i].value }}</abbr>
                              {% endif %}
                              {% if i == 3 %}
                                <span itemprop="postalCode">{{ node.n_person_address[i].value }}</span>
                              {% endif %}

                              {% if i == 4 %}
                                <abbr class="dcf-d-none" itemprop="addressCountry">{{ node.n_person_address[i].value }}</abbr>
                              {% endif %}
                            {% endfor %}
                          {% else %}
                            {% for i, addressFields in node.n_person_unldirectoryreference.entity.ee_unldir_unldirectoryaddress.value[0] %}
                              {% if i == 'street-address' %}
                                <span itemprop="streetAddress">{{ addressFields.value }}</span><br/>
                              {% endif %}
                              {% if i == 'locality' %}
                                <span itemprop="addressLocality">{{ addressFields.value }},</span>
                              {% endif %}
                              {% if i == 'region' %}
                                <abbr title="Nebraska" itemprop="addressRegion">{{ addressFields.value }}</abbr>
                              {% endif %}
                              {% if i == 'postal-code' %}
                                <span itemprop="postalCode">{{ addressFields.value }}</span>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                      </dd>
                    {% endif %}

                    <!-- Phone -->
                    {% if node.n_person_phone.value or node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value %}
                      <dt class="dcf-sr-only">Phone</dt>
                      <dd class="dcf-d-flex dcf-col-gap-2 dcf-ai-center">
                        <div class="dcf-h-4 dcf-w-4 unl-gray">
                          <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                            <path d="M5.001 5h14v14h-14zM5.001 20v1.5A2.501 2.501 0 0 0 7.5 24h9c1.378 0 2.5-1.121 2.5-2.5V20H5.001zM12 22.5a1.001 1.001 0 0 1 0-2 1.001 1.001 0 0 1 0 2zM19 4V2.5C19 1.121 17.878 0 16.5 0h-9a2.501 2.501 0 0 0-2.499 2.5V4H19zM9.5 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/><path fill="none" d="M0 0h24v24H0z"/>
                          </svg>
                        </div>

                        {% if node.n_person_phone.value %}
                          {% set filtered_phone_number = preg_replace('/[^0-9]/', '', node.n_person_phone.value) %}
                          <a class="dcf-txt-decor-hover" href="tel:{{filtered_phone_number}}" itemprop="telephone">
                            <span class="dcf-txt-nowrap">{{ node.n_person_phone.value }}</span>
                            {% if (node.n_person_phone.value|slice(0, 7)) == '402-472' %}
                              <small class="on-campus-dialing dcf-txt-xs dcf-txt-nowrap" title="For on-campus dialing only. Off-campus, dial {{ node.n_person_phone.value }}">On-campus
                                {{ node.n_person_phone.value|replace({ '402-472-': '2-' }) }}</small>
                            {% endif %}
                          </a>
                        {% else %}
                          <a class="dcf-txt-decor-hover" href="tel:{{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({' ':''})  }}" itemprop="telephone">
                            <span class="dcf-txt-nowrap">{{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({ '402472': '402-472-' }) }}</span>
                            {% if (node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|slice(0, 6)) == '402472' %}
                              <small class="on-campus-dialing dcf-txt-xs dcf-txt-nowrap" title="For on-campus dialing only. Off-campus, dial {{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({ '402472': '402-472-' }) }}">On-campus
                                {{ node.n_person_unldirectoryreference.entity.ee_unldir_telephonenumber.value|replace({ '402472': '2-' }) }}
                              </small>
                            {% endif %}
                          </a>
                        {% endif %}
                      </dd>
                    {% endif %}

                    <!-- Email -->
                    {% if node.n_person_email.value or node.n_person_unldirectoryreference.entity.ee_unldir_mail.value %}
                      <dt class="dcf-sr-only">Email</dt>
                      <dd class="dcf-d-flex dcf-col-gap-2 dcf-ai-center">
                        <div class="dcf-h-4 dcf-w-4 unl-gray">
                          <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                            <path d="m12.002 12.36 10.095-8.03A1.99 1.99 0 0 0 21.001 4h-18c-.387 0-.746.115-1.053.307l10.054 8.053z"/><path d="m22.764 5.076-10.468 8.315a.488.488 0 0 1-.594-.001L1.26 5.036c-.16.287-.259.612-.26.964v11c.001 1.103.898 2 2.001 2h17.998c1.103 0 2-.897 2.001-2V6c0-.335-.09-.647-.236-.924z"/><path fill="none" d="M0 0h24v24H0z"/>
                          </svg>
                        </div>

                        {% if node.n_person_email.value %}
                          <a class="dcf-txt-decor-hover dcf-url-wrap" href="mailto:{{ node.n_person_email.value|lower }}" itemprop="email">
                            {{ node.n_person_email.value|lower }}
                          </a>
                        {% else %}
                          <a class="dcf-txt-decor-hover dcf-url-wrap" href="mailto:{{ node.n_person_unldirectoryreference.entity.ee_unldir_mail.value|lower }}" itemprop="email">
                            {{ node.n_person_unldirectoryreference.entity.ee_unldir_mail.value|lower }}
                          </a>
                        {% endif %}
                      </dd>
                    {% endif %}

                    <!-- Website -->
                    {% if node.n_person_website.value %}
                      {% for i, value in node.n_person_website %}
                        <dt class="dcf-sr-only">Website</dt>
                        <dd class="dcf-d-flex dcf-col-gap-2 dcf-ai-center">
                          <div class="dcf-h-4 dcf-w-4 unl-gray">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 24 24" aria-hidden="true">
                              <path d="m14.474 10.232-.706-.706a4.004 4.004 0 0 0-5.658-.001l-4.597 4.597a4.004 4.004 0 0 0 0 5.657l.707.706a3.97 3.97 0 0 0 2.829 1.173 3.973 3.973 0 0 0 2.827-1.172l2.173-2.171a.999.999 0 1 0-1.414-1.414l-2.173 2.17c-.755.756-2.071.757-2.828 0l-.707-.706a2.004 2.004 0 0 1 0-2.829l4.597-4.596c.756-.756 2.073-.756 2.828 0l.707.707a1.001 1.001 0 0 0 1.415-1.415z"/>
                              <path d="m20.486 4.221-.707-.706a3.97 3.97 0 0 0-2.829-1.173 3.977 3.977 0 0 0-2.827 1.172L12.135 5.5a.999.999 0 1 0 1.414 1.414l1.988-1.984c.755-.756 2.071-.757 2.828 0l.707.706c.779.78.779 2.049 0 2.829l-4.597 4.596c-.756.756-2.073.756-2.828 0a.999.999 0 0 0-1.414 0 .999.999 0 0 0-.001 1.414 4.001 4.001 0 0 0 5.657.001l4.597-4.597a4.005 4.005 0 0 0 0-5.658z"/>
                              <path fill="none" d="M0 0h24v24H0z"/>
                            </svg>
                          </div>
                          <a class="dcf-txt-decor-hover dcf-url-wrap" href="{{ node.n_person_website.value[i].uri }}" itemprop="url">{{ node.n_person_website.value[i].title }}</a>
                        </dd>
                      {% endfor %}
                    {% endif %}

                    <!-- Social Media -->

                    {% if node.n_person_social_fb.value or node.n_person_social_twitter.value or node.n_person_social_youtube.value or node.n_person_social_instagram.value or
                     node.n_person_social_linkedin.value or node.n_person_social_pinterest.value or node.n_person_social_snapchat.value %}
                       <dt class="dcf-sr-only">Social Media</dt>
                      {% if node.n_person_social_fb.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_fb.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://www.facebook.com/@{{filtered_username_input}}" aria-label="{{ label }} on Facebook">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                              <path d="M48 24.1c0-13.3-10.7-24-24-24S0 10.9 0 24.1c0 12 8.8 21.9 20.2 23.7V31.1h-6.1v-6.9h6.1v-5.3c0-6 3.6-9.3 9.1-9.3 2.6 0 5.4.5 5.4.5V16h-3c-3 0-3.9 1.9-3.9 3.7v4.5h6.7l-1.1 6.9h-5.6v16.8C39.2 46.1 48 36.1 48 24.1z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_twitter.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_twitter.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://x.com/@{{filtered_username_input}}" aria-label="{{ label }} on X">
                          <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewBox="0 0 48 48">
                            <path d="M28.5 20.3 46 0h-4.1L26.6 17.6 14.5 0H.5l18.3 26.7L.5 48h4.1l16-18.6L33.5 48h14l-19-27.7zm-5.7 6.6-1.9-2.7L6.2 3.1h6.4l11.9 17.1 1.9 2.7L41.8 45h-6.4L22.8 26.9z"></path>
                          </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_bluesky.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_bluesky.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://bsky.app/profile/{{filtered_username_input}}" aria-label="{{ label }} on Bluesky">
                            <svg viewBox="0 0 600 530" height="16" width="16" focusable="false" aria-hidden="true" class="dcf-h-100% dcf-w-100% dcf-fill-current"><path d="M135.72 44.03C202.216 93.951 273.74 195.17 300 249.49c26.262-54.316 97.782-155.54 164.28-205.46C512.26 8.009 590-19.862 590 68.825c0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.193.516-3.707 7.896-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.45-163.25-81.433C20.15 217.613 9.997 86.535 9.997 68.825c0-88.687 77.742-60.816 125.72-24.795z"/></svg>
                             <path d="M28.5 20.3 46 0h-4.1L26.6 17.6 14.5 0H.5l18.3 26.7L.5 48h4.1l16-18.6L33.5 48h14l-19-27.7zm-5.7 6.6-1.9-2.7L6.2 3.1h6.4l11.9 17.1 1.9 2.7L41.8 45h-6.4L22.8 26.9z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_youtube.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input =  node.n_person_social_youtube.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://www.youtube.com/@{{filtered_username_input}}" aria-label="{{ label }} on Youtube">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                              <path d="M47 12.37a6 6 0 0 0-4.25-4.27C39 7.09 24 7.09 24 7.09s-15 0-18.75 1A6 6 0 0 0 1 12.37C0 16.14 0 24 0 24s0 7.86 1 11.63a6 6 0 0 0 4.25 4.27c3.74 1 18.75 1 18.75 1s15 0 18.75-1A6 6 0 0 0 47 35.63C48 31.86 48 24 48 24s0-7.86-1-11.63zM19.09 31.14V16.86L31.64 24z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_instagram.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_instagram.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://www.instagram.com/{{filtered_username_input}}" aria-label="{{ label }} on Instagram">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                              <path d="M24 4.33c6.41 0 7.17 0 9.7.14a13.28 13.28 0 0 1 4.46.83 7.44 7.44 0 0 1 2.76 1.79 7.44 7.44 0 0 1 1.79 2.76 13.28 13.28 0 0 1 .83 4.46c.12 2.53.14 3.29.14 9.7s0 7.17-.14 9.7a13.28 13.28 0 0 1-.83 4.46 8 8 0 0 1-4.55 4.55 13.28 13.28 0 0 1-4.46.83c-2.53.12-3.29.14-9.7.14s-7.17 0-9.7-.14a13.28 13.28 0 0 1-4.46-.83 7.44 7.44 0 0 1-2.76-1.79 7.44 7.44 0 0 1-1.79-2.76 13.28 13.28 0 0 1-.83-4.46c-.12-2.53-.14-3.29-.14-9.7s0-7.17.14-9.7a13.28 13.28 0 0 1 .83-4.46 7.44 7.44 0 0 1 1.8-2.77 7.44 7.44 0 0 1 2.76-1.79 13.28 13.28 0 0 1 4.46-.83c2.53-.12 3.29-.14 9.7-.14M24 0c-6.52 0-7.34 0-9.9.14a17.61 17.61 0 0 0-5.82 1.12A11.76 11.76 0 0 0 4 4a11.76 11.76 0 0 0-2.74 4.28 17.6 17.6 0 0 0-1.12 5.83C0 16.66 0 17.48 0 24s0 7.34.14 9.9a17.6 17.6 0 0 0 1.11 5.82A11.76 11.76 0 0 0 4 44a11.76 11.76 0 0 0 4.25 2.77 17.59 17.59 0 0 0 5.83 1.12c2.55.12 3.38.14 9.9.14s7.34 0 9.9-.14a17.56 17.56 0 0 0 5.82-1.12 12.27 12.27 0 0 0 7-7 17.59 17.59 0 0 0 1.12-5.83c.18-2.6.18-3.42.18-9.94s0-7.34-.14-9.9a17.56 17.56 0 0 0-1.12-5.82A11.76 11.76 0 0 0 44 4a11.76 11.76 0 0 0-4.25-2.77A17.6 17.6 0 0 0 33.9.15C31.34 0 30.52 0 24 0zm0 11.68A12.32 12.32 0 1 0 36.32 24 12.32 12.32 0 0 0 24 11.67zM24 32a8 8 0 1 1 8-8 8 8 0 0 1-8 8zM36.81 8.31a2.88 2.88 0 1 0 2.88 2.88 2.88 2.88 0 0 0-2.88-2.88z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_linkedin.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_linkedin.value|url_encode %}
                          {% set filtered_username_input = preg_replace('/%2F/', '/', filtered_username_input) %}
                          {# As of this time, LinkedIn doesn't define URL patterns for profiles (no official documentation).
                          We ask for everything after "linkedin.com/" and append it to the base URL. #}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://www.linkedin.com/{{filtered_username_input}}" aria-label="{{ label }} on LinkedIn">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                              <path d="M44.45 0H3.54A3.5 3.5 0 0 0 0 3.46v41.08A3.5 3.5 0 0 0 3.54 48h40.91A3.51 3.51 0 0 0 48 44.54V3.46A3.51 3.51 0 0 0 44.45 0zM14.24 40.9H7.11V18h7.13zm-3.56-26a4.13 4.13 0 1 1 4.13-4.13 4.13 4.13 0 0 1-4.13 4.1zm30.23 26h-7.12V29.76c0-2.66 0-6.07-3.7-6.07s-4.27 2.9-4.27 5.88V40.9h-7.11V18h6.82v3.13h.1a7.48 7.48 0 0 1 6.74-3.7c7.21 0 8.54 4.74 8.54 10.91z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_pinterest.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_pinterest.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://www.pinterest.com/{{filtered_username_input}}" aria-label="{{ label }} on Pinterest">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                              <path d="M24 0a24 24 0 0 0-8.75 46.35 23 23 0 0 1 .08-6.88l2.81-11.93a8.66 8.66 0 0 1-.71-3.54c0-3.34 1.93-5.83 4.34-5.83 2 0 3 1.54 3 3.38 0 2.06-1.31 5.14-2 8a3.48 3.48 0 0 0 3.55 4.34c4.27 0 7.54-4.5 7.54-11 0-5.75-4.13-9.76-10-9.76a10.39 10.39 0 0 0-10.8 10.38A9.34 9.34 0 0 0 14.85 29a.72.72 0 0 1 .17.69c-.18.76-.59 2.39-.67 2.72s-.35.53-.8.32c-3-1.4-4.87-5.78-4.87-9.3 0-7.57 5.5-14.52 15.86-14.52 8.33 0 14.8 5.93 14.8 13.86 0 8.27-5.22 14.93-12.45 14.93-2.43 0-4.72-1.26-5.5-2.76l-1.5 5.71a26.83 26.83 0 0 1-3 6.29A24 24 0 1 0 24 0z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}

                      {% if node.n_person_social_snapchat.value %}
                        <dd class="dcf-d-inline-block dcf-pt-4 dcf-pr-3">
                          {% set filtered_username_input = node.n_person_social_snapchat.value|url_encode %}
                          <a class="dcf-d-block dcf-h-6 dcf-w-6" href="https://www.snapchat.com/add/{{filtered_username_input}}" aria-label="{{ label }} on Snapchat">
                            <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewbox="0 0 48 48">
                              <path d="M24.46 1.44h-.95A12.77 12.77 0 0 0 11.66 9.1c-1.06 2.39-.81 6.44-.6 9.7 0 .38 0 .78.07 1.17a1.91 1.91 0 0 1-.93.2 5.36 5.36 0 0 1-2.2-.58 1.78 1.78 0 0 0-.76-.16A2.38 2.38 0 0 0 4.89 21c-.13.69.18 1.7 2.4 2.58.2.08.44.16.7.24.92.29 2.31.73 2.68 1.62a2.13 2.13 0 0 1-.23 1.76c-.12.28-3.06 7-9.58 8.06a1 1 0 0 0-.83 1 1.34 1.34 0 0 0 .11.45c.49 1.14 2.56 2 6.32 2.57a4.67 4.67 0 0 1 .34 1.14c.08.36.16.73.28 1.13a1.11 1.11 0 0 0 1.16.85 6.05 6.05 0 0 0 1.08-.15 12.67 12.67 0 0 1 2.56-.29 11.27 11.27 0 0 1 1.83.15 8.7 8.7 0 0 1 3.4 1.89c1.71 1.21 3.65 2.58 6.59 2.58h.59c2.94 0 4.88-1.37 6.59-2.58a8.7 8.7 0 0 1 3.44-1.78 11.25 11.25 0 0 1 1.83-.15 12.75 12.75 0 0 1 2.56.27 6 6 0 0 0 1.08.13h.05a1.08 1.08 0 0 0 1.16-.85c.11-.38.19-.75.27-1.11a4.64 4.64 0 0 1 .34-1.13c3.76-.58 5.83-1.42 6.31-2.56a1.32 1.32 0 0 0 .11-.45 1 1 0 0 0-.83-1c-6.53-1.08-9.46-7.77-9.58-8.06a2.13 2.13 0 0 1-.23-1.76c.38-.89 1.76-1.33 2.68-1.62.26-.08.5-.16.7-.24 1.63-.64 2.44-1.43 2.43-2.35a2 2 0 0 0-1.46-1.68 2.67 2.67 0 0 0-1-.19 2.21 2.21 0 0 0-.92.19 5.6 5.6 0 0 1-2.07.59 1.84 1.84 0 0 1-.81-.2c0-.33 0-.67.06-1v-.14c.21-3.26.46-7.32-.6-9.71a12.79 12.79 0 0 0-11.94-7.76z"></path>
                            </svg>
                          </a>
                        </dd>
                      {% endif %}
                    {% endif %}
                  </dl>
                </address>
              </div>

              <!-- Bio, Education, Additional... -->
              {% if (node.n_person_bio.value or node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_bio.value is not iterable or node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_education.value is not iterable )
                and page and view_mode == 'full' %}

                <!-- Bio -->
                {% if node.n_person_bio.value is not empty or node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_bio.value is not empty %}
                  <div class="dcf-mt-6 dcf-pt-4 dfc-bt-1 dcf-bt-solid unl-bt-light-gray unlcms-grid-person-detail-bio">
                    {% if node.n_person_bio.value is not empty %}
                      {{ content.n_person_bio }}
                    {% else %}
                      {{ node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_bio.value }}
                    {% endif %}
                  </div>
                {% endif %}

                <!-- Education -->
                {% if node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_education.value is not iterable and node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_education.value is not empty or node.n_education.value %}

                  {% if node.n_education.value %}
                    <div class=" unl-bt-light-gray unlcms-grid-person-detail-bio">
                      <h2>
                        Education
                      </h2>
                      {{ content.n_education}}
                    </div>
                  {% else %}
                    <div class=" unl-bt-light-gray unlcms-grid-person-detail-bio">
                      <h2>
                        Education
                      </h2>
                      <ul>
                        {% for i, value in node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_education %}
                          <li>{{ node.n_person_unldirectoryreference.entity.ee_unldir_knowledge_education[i].value }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endif %}
              {% endif %}

              <!-- Additional -->
              {% if node.n_additional.value %}
                <div class="unl-bt-light-gray unlcms-grid-person-detail-bio">
                  {{ content.n_additional}}
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
  </div>
</article>
