{#
/**
 * @file
 * Default theme implementation for a DCF four-column 25%-25%-25%-25% layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% set grid_wrapper_attributes = settings.grid_wrapper_attributes %}
{% set title_attributes = settings.title_attributes.addClass('dcf-wrapper') %}
{% set section_padding_classes = ['dcf-pt-8', 'dcf-pb-8'] %}

{% if settings.title and attributes.hasClass('unl-cream') %}
  {% set title_attributes = title_attributes.addClass('unl-cream') %}
{% endif %}

{% if content %}

{% if attributes.hasClass('dcf-pt-0') and attributes.hasClass('dcf-pb-0')  %}
    <div{{ attributes.removeClass(section_padding_classes) }}>

  {% elseif attributes.hasClass('dcf-pb-0') and attributes.hasClass('dcf-pt-10') %}
    <div{{ attributes.removeClass(section_padding_classes)}}>

  {% elseif attributes.hasClass('dcf-pt-0') and attributes.hasClass('dcf-pb-10') %}
    <div{{ attributes.removeClass(section_padding_classes)}}>

  {% elseif attributes.hasClass('dcf-pb-0') %}
    <div{{ attributes.removeClass('dcf-pb-8') }}>

  {% elseif attributes.hasClass('dcf-pt-0') %}
    <div{{ attributes.removeClass('dcf-pt-8') }}>

  {% else %}
    <div{{ attributes }}>
  {% endif %}

      {% if settings.title and settings.title_display == TRUE %}
        {% if attributes.hasClass('dcf-wrapper') %}
          {% set title_attributes = title_attributes.removeClass('dcf-wrapper') %}
        {% endif %}
        <h2{{ title_attributes }}>{{ settings.title }}</h2>
      {% elseif settings.title and settings.title_display == FALSE %}
        <h2 class="dcf-sr-only">{{settings.title}}</h2>
      {% endif %}

      <div{{ grid_wrapper_attributes }}>

        {% if content.first %}
          <div {{ region_attributes.first.addClass('dcf-col', 'layout__region', 'layout__region--first') }}>
            {{ content.first }}
          </div>
        {% endif %}

        {% if content.second %}
          <div {{ region_attributes.second.addClass('dcf-col', 'layout__region', 'layout__region--second') }}>
            {{ content.second }}
          </div>
        {% endif %}

        {% if content.third %}
          <div {{ region_attributes.third.addClass('dcf-col', 'layout__region', 'layout__region--third') }}>
            {{ content.third }}
          </div>
        {% endif %}

        {% if content.fourth %}
          <div {{ region_attributes.fourth.addClass('dcf-col', 'layout__region', 'layout__region--fourth') }}>
            {{ content.fourth }}
          </div>
        {% endif %}

      </div>

    </div>
{% endif %}
