{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'dcf-d-grid dcf-grid-cols-12 dcf-col-gap-vw dcf-row-gap-4 dcf-ai-center dcf-max-w-xl'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="dcf-col-span-12 dcf-col-span-4@sm dcf-col-span-3@md dcf-txt-center dcf-d-flex dcf-flex-col dcf-ai-center">
    <div class="dcf-1x1 dcf-circle dcf-overflow-hidden dcf-b-solid dcf-b-2 unl-b-gray unl-b-gray dcf-w-100% dcf-max-w-xs dcf-mb-4">
      {{ (content.p_n_portrait) }}
    </div>
  </div>
  <div class=" dcf-col-span-12 dcf-col-span-8@sm dcf-col-span-9@md dcf-d-flex dcf-flex-col dcf-jc-center">
    <h2 class="dcf-mb-1">Featured Faculty</h2>
    <p class="dcf-txt-lg dcf-mb-1"><strong>{{ content.p_n_faculty_name.0['#context']['value'] }}</strong>, {{ (content.p_n_job_title) }}</p>
    <p>{{ (content.p_n_faculty_about) }}</p>
    <p>{{ (content.p_n_faculty_link) }}</p>
  </div>
</div>
