{% set current_path = url('<current>')['#markup'] %}

  {% for item in items %}
    {% if '/option/' in current_path %}
      <a href="tel:+1{{ item.content['#context'].value|replace({'-':''}) }}" aria-label="{{ item.content['#context'].value|replace({'-': '.'})|split('')|join(' ') }}">
        {{ item.content['#context'].value }}
      </a>
    {% else %}
      <a class='unl-cream' href="tel:+1{{ item.content['#context'].value|replace({'-':''}) }}" aria-label="{{ item.content['#context'].value|replace({'-': '.'})|split('')|join(' ') }}">
        {{ item.content['#context'].value }}
      </a>
    {% endif %}
  {% endfor %}
