<ul class="dcf-list-bare">
  {% for item in items %}
    {% if item.content['#markup'] == 'College of Agricultural Sciences and Natural Resources' %}
      <li><a href="http://casnr.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'College of Architecture' %}
      <li><a href="http://architecture.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'College of Arts and Sciences' %}
      <li><a href="http://cas.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'College of Business' %}
      <li><a href="http://business.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'College of Education and Human Sciences' %}
      <li><a href="http://cehs.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'College of Engineering' %}
      <li><a href="http://engineering.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'Hixson Lied College of Fine and Performing Arts' %}
      <li><a href="http://arts.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'College of Journalism and Mass Communications' %}
      <li><a href="http://journalism.unl.edu/">{{ item.content }}</a></li>
    {% elseif item.content['#markup'] == 'Exploratory and Pre-Professional Advising Center' %}
      <li><a href="http://explorecenter.unl.edu/">{{ item.content }}</a></li>
    {% endif %}
  {% endfor %}
 </ul>
