{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

<div{{ attributes }}>
  {% for item in items %}
    {% set counter = counter + 1 %}
    <dt class="dcf-sr-only">{{'Phone' ~ counter}}</dt>
    <dd class="dcf-relative dcf-mb-2">
        <div class="dcf-icon-hang dcf-flex-shrink-0 dcf-h-5 dcf-w-5 unl-gray">
          <svg class="dcf-h-100% dcf-w-100% dcf-fill-current" focusable="false" height="16" width="16" viewBox="0 0 24 24">
            <path d="M16.5 0h-9A2.503 2.503 0 0 0 5 2.5v19C5 22.879 6.122 24 7.5 24h9c1.378 0 2.5-1.121 2.5-2.5v-19C19 1.121 17.879 0 16.5 0zM6 5h12v14H6V5zm1.5-4h9c.828 0 1.5.673 1.5 1.5V4H6V2.5C6 1.673 6.673 1 7.5 1zm9 22h-9c-.827 0-1.5-.673-1.5-1.5V20h12v1.5c0 .827-.672 1.5-1.5 1.5z"/><path d="M9.5 3h5a.5.5 0 1 0 0-1h-5a.5.5 0 0 0 0 1zM12 20.5a1.001 1.001 0 0 0 0 2 1.001 1.001 0 0 0 0-2zm0 1.5v-.5h.001L12 22z"/><path fill="none" d="M0 0h24v24H0z"/>
          </svg>
        </div>

        {% set phoneNumberDetails =  item.content['#context']['value'] %}
        {% set phoneNumberDetails = phoneNumberDetails|replace({'|':','}) %}
        {% set phoneNumberDetails = phoneNumberDetails|replace({' ':''}) %}
        {% set phoneNumberDetails = phoneNumberDetails|split(',') %}

        {% if phoneNumberDetails|length == 2 %}
          <div class="dcf-pl-6 dcf-bold" aria-hidden="true">{{'Phone ' ~ counter}}</div>
          <a class="dcf-pl-6" href="tel:+1{{phoneNumberDetails.0|replace({'-':''})}};{{phoneNumberDetails.1}}" itemprop="telephone">
            <span class="dcf-txt-nowrap">{{phoneNumberDetails.0 ~ ' ext. ' ~ phoneNumberDetails.1 }}</span>
          </a>
        {% else  %}
          <div class="dcf-pl-6 dcf-bold" aria-hidden="true">{{'Phone ' ~ counter}}</div>
          <a class="dcf-pl-6" href="tel:+1{{phoneNumberDetails.0|replace({'-':''})}}" itemprop="telephone">
            <span class="dcf-txt-nowrap">{{phoneNumberDetails.0}}</span>
          </a>
        {% endif %}
      </dd>
  {% endfor %}
</div>
